body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}
h1 {
  margin: 150px auto 0 auto;
  /* width: 10%; */
  /* margin: 0 auto; */
  font-size: 5.2rem;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  line-height: 2;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.24rem;
  color: #66bfbf;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
a {
  color: #11999e;
}

.container-1 {
  background-color: #f4bfbf;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  height: 100px;
  left: 300px;
  bottom: 300px;
}
.pro {
  text-decoration: underline;
}

.skill-row {
  height: 50%;
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.web {
  height: 25%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.game {
  height: 25%;
  width: 25%;
  float: right;
  margin-left: 30px;
}
